# Mac
$RECYCLE.BIN/
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.cab
*.msi
*.msm
*.msp
*.lnk

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Any files or folders anywhere
.metadata/
.gradle/
.settings/
build/
captures/
bin/
docs/reference/
gen/
out/
.DS_Store
._*
*.apk
*.ap_
*.aab
*.dex
*.class
app/.stb*.*
app/.byod*.*
google-services.json
local.properties
key.properties
secret.properties

/app/src/main/res/raw/proxy.cer
# Top-level folders

# Android Studio related
.idea/
.kotlin/
*.iml
!.idea/codeStyles/
!.idea/fileTemplates/